[Unit]
Description=Service to detect contact bettwen pin 5 & ground to shutdown raspberry pi

[Service]
Type=simple
User=root
Group=root
UMask=007
ExecStart=/usr/local/bin/listen-for-shutdown.py
ExecReload=/bin/kill -HUP $MAINPID
 
[Install]
WantedBy=multi-user.target
